.Menu{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}



.menu-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	position: absolute;
	top: 0;

}




.menu-page{
	width: 30vw;
	min-width: 300px;
	max-width: 350px;
	margin-top: 20px;

	height: 50vh;
	min-height: 400px;


	background-color:#572600;
	color: gold; 
	border: 2px solid gold;
	border-radius: 5px;
	margin: 10px;

}

.menu-item{
	display: flex;
	padding: 10px;
}

.hebrew{
	flex-direction: row-reverse;
}

.menu-item span.dotted-connector {
	flex-grow: 1;
	border-bottom: 2px dotted gold;
}

select{
	z-index: 60;
	position: fixed;
	background-color: white;
	border-radius: 5px;
	bottom: 10px;
	right: 10px;
	padding: 5px;
}









